<!DOCTYPE html>
<html>
<head>
	<title>start page</title>
    <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="reload">
</head>
<body>
	<h1>ようこそ
		<strong>Bookers</strong>
		 へ！
	</h1>

	<p>
		<strong>Bookers</strong>
		 では、さまざまな書籍に関するあなたの意見や
	</p>
	<p>印象を共有し交換することができます</p>
	<p>
		<%= link_to "start", books_path %>
<!-- 		<a href= "/books/new">start</a> -->
	</p>
</body>
</html>
